* {
  margin: 0;
  cursor: context-menu;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 40;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

.botton{
       overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    margin-bottom: 100px;
}
#main_container{
    border-color: #00ffff;
    height: 100%;
  background-color: black;
  color:#ffffff;
  letter-spacing:1.2;
overflow: auto;
display: block;
}
.remove{
  color:green;
}
.text{
  color: green;
}
#tab_container{
  background-color: #e6e6e6;
  color:black;
  height: 40px;
  width: 100%;
  position: fixed;
}

#icon{

    width: 18px;
    vertical-align: middle;
    margin-left: 15;
}
.title{
      margin-top: 9;
      display:inline-block;
      margin-left: 5;

}
.p_icons {
    height: 25;
    display: inline;
    float: right;
    padding: 5;
    padding-top: 10;
    padding-right: 10;
    padding-left: 10;
}
.p_icons:hover{
  background:#808080;
}

.icons{

    width: 15px;
    color: #fff;

}
#input{

  display:inline; //stop here
  height: 100%;
  border-style: none;
  background: black;
}
#cmd_black{
margin-top: 50;
}
#input:focus {
    outline: none;
    color: transparent;
    text-shadow: 0px 0px 0px #ffffff;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;  //stop to blink
  }
}


[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    color: green;
}
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

@media only screen and (max-width: 600px) {
    body{
      font-size: 12px;
    }
    p{
          margin-top: 15;
          display:inline-block;
          margin-left: 5;

    }
}
#p_close:hover{
  background: #ff0000;
}
@media (hover:none) {
    /* Touch screen devices */
    .p_icons:hover{ background: none; }
    .p_icons:active{
      background:#808080;
    }
    #p_close:hover{
      background: none;
    }
    #p_close:active{
      background: #ff0000;
    }
}

/*not used*/
.typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 200 }
}
